##
# This is the Git config file
##

[includeIf "gitdir/i:~/Code/work/"]
	path = ~/.gitconfig.work

[includeIf "gitdir/i:~/Work/"]
	path = ~/.gitconfig.work

[includeIf "gitdir/i:~/Code/personal/"]
	path = ~/.gitconfig.personal

[includeIf "gitdir/i:~/Courses/"]
	path = ~/.gitconfig.personal

[includeIf "gitdir/i:~/.dotfiles/"]
	path = ~/.gitconfig.personal

[includeIf "gitdir/i:~/Code/go/"]
	path = ~/.gitconfig.personal

[includeIf "gitdir/i:~/Clients/"]
	path = ~/.gitconfig.work

[alias]
	a = add --all
	ai = add -i
	b = branch
	bd = branch -d
	bdd = branch -D
	br = branch -r
	c = commit
	cd = commit --amend
	cf = config
	cl = clone
	cm = commit -m
	co = checkout
	cp = cherry-pick
	d = diff
	dc = diff --cached
	dp = diff --patch
	dt = difftool
	f = fetch
	l = log
	m = merge
	mg = merge
	pl = pull
	ps = push
	plo = pull origin
	pso = push origin
	r = remote
	rv = remote -v
	s = status
	sl = shortlog
	# rm-del
	#   Deletes all files that have been marked as deleted when running `git status`.
	xargs-del = diff --diff-filter=D --name-only -z
	lg = log --graph --all --pretty=format:'%C(yellow)%h%C(reset) - %C(normal)%ar%C(reset) %C(blue)%an%C(reset) %C(yellow)%s%C(reset) %C(normal)%D%C(reset)'
	ctags = !.git/hooks/ctags
	etags = !.git/hooks/etags

[color]
	diff = auto
	branch = auto
	interactive = auto
	ui = auto

[core]
	editor = mvim -f

# Requires `brew install git-delta`
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	features = side-by-side unobtrusive-line-numbers decorations
	syntax-theme = Solarized (dark)
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[diff]
	tool = Kaleidoscope

[difftool]
	prompt = false

[interactive]
	diffFilter = delta --color-only --features=interactive # Requires `brew install git-delta`

[push]
	default = simple

[merge]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[init]
	templatedir = ~/.git_template
	defaultBranch = main
[user]
	name = Daniel Dyba
	email = daniel.dyba@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
